form{
    margin-left: 15px
}
.jumbotron{
    padding-bottom: 10px
}
.btn-primary{
    margin-top: 15px
}
.navbar-brand{
    font-size: 250%;
}

.error_message{
	color:#FF0000;
    font-weight:bold;
    margin-top:0.7%;
    padding: 0.5%;
    background-color: #FEDBDB;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















